<nav id="header">
    <div class="container clearfix">
        <%- partial('_nav/logo') %>
        <div id="global-nav">
            <div class="gnli <% if(is_home()) { %>current<% } %>">
                <a class="gna fa fa-home" href="<%- config.root %>" title="<%= config.title %>">
                    <span class="gn-item"><%= __('home') %></span>
                </a>
            </div>
            <% if (theme.global_navigation) { %>
            <div id="dropdown" class="gnli<% if (is_post()) { %> current<% } %>">
                <a class="gna fa fa-bars" href="#">
                    <span class="gn-item"><%= __('navigation') %></span>
                </a>
                <%- partial('_nav/dropdown') %>
            </div>
            <% theme.nav.forEach(function(item) { %>
            <div class="gnli<% if(is_current(item.url)) { %> current<% } %>">
                <a class="gna fa <%- item.icon %>" href="<%- url_for(item.url) %>" title="<%= item.description || '' %>">
                    <span class="gn-item"><%= item.title %></span>
                </a>
            </div>
            <% }); %>
            <% } %>
        </div>
        <% if(config.search || theme.search) { %>
        <form method="get" id="search-form" action="<%- url_for('search.html') %>">
            <input type="text" name="keywords" id="search-input" placeholder="<%- __('search') %>" />
            <button type="submit" id="search-submit">
                <span class="fa fa-search"></span>
            </button>
        </form>
        <% } %>
    </div>
</nav>
