---
layout: layout
---
<link href="/css/specialize/archive.css" rel="stylesheet" type="text/css">
<script src="/js/archives.min.js" type="text/javascript" async></script>

<div id="primary">
    <div class="post-content">
        <div id="archives">
    <% 
       var year = 0, mon = 0, all = {};
       page.posts.forEach(function(post){
           var year_tmp = post.date.year(),
           mon_tmp = post.date.month() + 1;
    %>
        <% if(mon != mon_tmp && mon > 0) { %>
        </div>
    </div>
        <% } %>
        <% 
           if(year != year_tmp) {
               year = year_tmp;
               all[year] = [];
           }
           if(mon != mon_tmp) { 
               mon = mon_tmp;
               all[year].push(mon);
        %>
            <div class="archive-title" id="arti-<%- year %>-<%- mon %>">
                <h3 class="archive-time"><%- year %>-<%- mon %></h3>
                <div class="archives archives-<%- mon %>" data-date="<%- year %>-<%- mon %>"> <% //输出月份 %>
        <% } %>
                    <div class="brick">
                        <a href="<%- url_for(post.path) %>">
                            <span class="time"><%- post.date.month() + 1 %>-<%- post.date.date() %></span>
                            <%- post.title %>
                        </a>
                    </div> <% //输出文章日期和标题 %>
    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <div id="archive-nav">
        <ul class="archive-nav">
    <% 
       var year_now = new Date().getFullYear(); 
       var keys = Object.keys(all).sort(function(a,b){return b-a;});
       keys.forEach(function(key) {
    %>
            <li class="year" id="year-<%- key %>">
                <a href="#" class="year-toogle" id="yeto-<%- key %>"><%- key %></a>
                <ul class="monthall">
        <% all[key].sort(function(a,b){return b-a;}).forEach(function(month) { %>
                    <li class="month monthed" id="mont-<%- key %>-<%- month %>"><%- month %></li>
        <% }); %>
                </ul>
            </li>
    <% }); %>
        </ul>
    </div>
</div>
