---
layout: false
---
<!DOCTYPE html>
<html lang="<%= config.lang %>">

<%
   var body_class = page.class || ' ';

   if(is_home()) {body_class += "home";}
   else if(is_post()) {body_class += " post";}
   else if(is_archive()) {body_class += " archive post-archive";}
   else if(is_category()) {body_class += " archive category-archive";}
   else if(is_tag()) {body_class += " archive tag-archive";}
   else {body_class += " page";}
%>

<!-- Head tag -->
<%- partial('_head/head',{cache: !config.relative_link}) %>

<body class="<%- trim(body_class) %>">
    <%- partial('_nav/nav') %>
    <%- body || page.content %>
    <!-- Footer -->
    <%- partial('_footer/footer',{cache: !config.relative_link}) %>
    <%- partial('_addon/totop') %>
</body>

</html>
