---
layout: base
---
<% // Fullpage 全宽页面 %>
<div id="content">
    <div class="container clearfix">
        <!-- Main Content -->
        <div id="primary" class="full-page">
            <%- partial('_widget/notice') %>
            <% page.posts.forEach(function(post){ %>
            <div class="post-header">
                <h2 class="post-title">
                    <a href="<%- url_for(post.path) %>" title="<%= post.title %>"><%= post.title %></a>
                </h2>
            </div>
            <div class="post-body clearfix">
                <div class="post-content">
                    <%- post.content %>
                </div>
            </div>
            <% }); %>
        </div>
        <!-- #primary -->
    </div>
</div>
