---
layout: layout
---
<div id="primary">
    <h1 class="post-title">
        <a href="<%- url_for(page.path) %>" title="<%= page.title %>"><%= page.title %></a>
    </h1>
    <div class="post-body clearfix">
        <div class="post-content">
            <%- page.content || body %>
        </div>
    </div>
    <%- partial('_partial/comments') %>
</div><!-- #primary -->
