---
layout: base
---
<% var toc_str = page.toc ? toc_fix(page.content, {list_number: false}) : ""; %>
<main id="content">
    <div class="container clearfix">
        <div id="primary" <% if(toc_str) { %> class="has-toc"<% } %>>
            <nav class="breadcrumb-navigation">
                <a rel="bookmark" href="<%- config.root %>"><%= __('home') %></a>
                <span class="breadcrumb-arrow fa fa-angle-right"></span>
                <%- partial('_partial/post/categories', {page: page}) %>
                <span class="breadcrumb-arrow fa fa-angle-right"></span>
                <%= page.title %>
            </nav>
            <article class="single-post">
                <header class="post-header">
                    <h1 class="post-title">
                        <a href="<%- url_for(page.path) %>" title="<%= page.title %>"><%= page.title %></a>
                    </h1>
                </header>
                <%- partial('_partial/post/meta', {page: page, has_vcount: true}) %>
                <div class="post-body clearfix">
                    <div class="post-content">
                        <% page.photos.forEach(function(link){ %>
                        <img src="<%- url_for(link) %>">
                        <% }); %>
                        <%- page.content || body %>
                    </div>
                </div>
                <%- partial('_partial/license', {page: page}) %>
                <nav class="post-tags">
                <% if(page.tags.length) { %>
                    <% page.tags.forEach(function(tag){ %>
                    <a href="<%- url_for(tag.path) %>" title="<%= tag.name %>" rel="tag" class="fa fa-tag"><%= tag.name %></a>
                    <% }); %>
                <% } else { %>
                    <%= __('no_tags') %>
                <% } %>
                </nav>
            </article>
        </div><!-- div#primary -->
        <%- partial('_partial/pager') %>
        <%- partial('_partial/comments') %>
        <% if(toc_str) { %>
        <nav id="toc" class="sticky">
            <%- toc_str %>
        </nav>
        <% } %>
    </div>
</main>
