---
layout: base
---
<% var toc_str = page.toc ? toc_fix(page.content, {list_number: false}) : ""; %>
<div id="content">
    <div class="container clearfix">
        <div id="primary" class="<% if(toc_str) { %>has-toc<% } else { %>no-toc<% } %>">
            <div class="breadcrumb-navigation">
                <a rel="bookmark" href="<%- config.root %>"><%= __('home') %></a>
                <span class="breadcrumb-arrow fa fa-angle-right"></span>
                <%- partial('_script/categories',{page:page}) %>
                <span class="breadcrumb-arrow fa fa-angle-right"></span>
                <%= page.title %>
            </div>
            <div class="single-post">
                <div class="post-header">
                    <h2 class="post-title">
                        <a href="<%- url_for(page.path) %>" title="<%= page.title %>"><%= page.title %></a>
                    </h2>
                </div>
                <div class="post-meta">
                    <ul class="inline-ul">
                        <li class="inline-li">
                            <%- page.date.format(config.date_format) %>
                        </li>
                        <% if(page.categories.length) { %>
                        <li class="inline-li">
                            <span class="post-span">·</span>
                        </li>
                        <li class="inline-li">
                            <%- partial('_script/categories',{page:page}) %>
                        </li>
                        <% } %>
                        <% if(theme.busuanzi) { %>
                        <li class="inline-li">
                            <span class="post-span">·</span>
                        </li>
                        <li class="inline-li">
                            <span id="busuanzi_value_page_pv"></span> Views
                        </li>
                        <% } %>
                    </ul>
                </div>
                <div class="post-body clearfix">
                    <div class="post-content">
                        <% page.photos.forEach(function(link){ %>
                        <img src="<%- url_for(link) %>">
                        <% }); %>
                        <%- page.content || body %>
                    </div>
                </div>
                <div class="post-tags">
                <% if(page.tags.length) { %>
                    <% page.tags.forEach(function(tag){ %>
                    <a href="<%- url_for(tag.path) %>" title="<%= tag.name %>" rel="tag" class="fa fa-tag"><%= tag.name %></a>
                    <% }); %>
                <% } else { %>
                    <%= __('no_tags') %>
                <% } %>
                </div>
                <%- partial('_partial/pager') %>
            </div>
            <%- partial('_partial/comments') %>
        </div>
        <!-- #primary -->
        <% if(toc_str) { %>
        <div id="toc">
            <%- toc_str %>
        </div>
        <script src="/js/toc.js" type="text/javascript" async></script>
        <% } %>
    </div>
</div>
