---
layout: none
---
<% if (site.posts.length){ %>
    <h3 class="widget-title"><%= __('recent_posts') %></h3>
    <ul class="list" data-suffix="<%- __('days_ago') %>">
        <% site.posts.sort('updated', -1).limit(8).each(function(post){ %>
        <li>
            <p><a href="<%- url_for(post.path) %>" class="tooltipped tooltipped-n" aria-label="<%= post.title || __('untitled') %>"><%= truncate(post.title || __('untitled'),{length: 23,omission:"..."}) %></a></p>
            <p><%= __('updated') + __(':') %>
            <span class="update-time" data-date="<%- post.updated.format('YYYY-MM-DD') %>"><%= post.updated.format('YYYY-MM-D h:m a') %></span></p>
        </li>
        <% }) %>
    </ul>
<% } %>
