<% 
   var year = '';
   if(theme.since) {
       year = theme.since + '-';
   }
   year += new Date().getFullYear() + ' ' + config.title + '.';
%>
<!-- #content -->
<div id="footer">
    <div class="container">
        <p><% if(theme.creative_commons) { %>
            <span class="cc-license">
                <a href="https://creativecommons.org/licenses/<%- theme.creative_commons %>/4.0" target="_blank" title="Creative Commons license <%- theme.creative_commons %>">
                <span class="cc cc-cc"></span>
                <% theme.creative_commons.split('-').forEach(function(icon){ %>
                    <span class="cc cc-<%- icon %>"></span>
                <% }); %>
                </a>
            </span>
            &nbsp;<%= year %>
        <% } else { %>
            &copy;&nbsp;<%- year %> All Rights Reserved. 
        <% } %></p>
        <p>Themed by <a href="https://github.com/unnamed42/hexo-theme-kunkka">Kunkka</a> | Powered by <a href="https://hexo.io/">Hexo</a>.</p>
        <%- partial('_partial/sns') %>
    </div>
</div>
<!-- #footer -->
