<head>
    <% //if(theme.old_browser) { 
       // <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       //} else {} %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    
    <title>
    <% if(page.archive) { %>
        <%= page.year || page.month || __('archive') %> - 
    <% } else if (page.title || page.category || page.tag) { %>
        <%= page.title || page.category || page.tag %> - 
    <% } %>
    <%= config.title || (config.author + "\'s Blog") %>
    </title>
    
    <meta name="keywords" content="<%= theme.keywords || '' %>">
    <meta name="description" content="<%= config.description || '' %>">
    <meta name="author" content="<%= config.author || '' %>">
    
    <% if(config.feed) { %>
    <link rel="alternate" type="application/<%- config.feed.type.replace(/\d+/g,'') %>+xml" href="<%- url_for(config.feed.path) %>">
    <% } %>
    
    <% if(theme.favicon) { %>
    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon">
    <% } %>
    
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <% if(theme.creative_commons) { %><link href="https://cdn.bootcss.com/cc-icons/1.2.1/css/cc-icons.min.css" rel="stylesheet" type="text/css"><% } %>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>-->
    <% if(theme.buttons.base && theme.buttons.dropdown) { %><script src="/js/buttons.js" type="text/javascript" async></script><% } %>
    
    <script src="<%- url_for('/js/script.js') %>" type="text/javascript" async></script>

    <% if(theme.mathjax) { %>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        showProcessingMessages: false,
        jax: ["input/TeX","output/HTML-CSS", "output/PreviewHTML"], 
        extensions: ["tex2jax.js", "fast-preview.js", "AssistiveMML.js" /*"MathMenu.js", "MathZoom.js", "[Contrib]/a11y/accessibility-menu.js"*/ ],
        TeX: {
            extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
        }, 
        tex2jax: {
            inlineMath: [['$','$']],
            displayMath: [['$$','$$']], 
            processEscapes: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        },
        "HTML-CSS": {linebreaks: {automatic: true}},
        SVG: {linebreaks: {automatic: true}}
    });
    </script>
    <script type="text/javascript" src="https://cdn.bootcss.com/mathjax/2.7.1/MathJax.js" async></script>
    <% } %>

    <% if(theme.duoshuo.shortname) { %>
    <script type="text/javascript">
    var duoshuo_admin_id = "<%- theme.duoshuo.user_id %>";
    var duoshuoQuery = {short_name: '<%- theme.duoshuo.shortname %>' };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = '//static.duoshuo.com/embed.js';
        ds.id = "duoshuo-script";
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
    <% if(theme.duoshuo.ua) { %>
    <script src="/js/duoshuo-hook.js" async></script>
    <% } %>
    <% } %>

    <% if(theme.disqus_shortname) { %>
    <script type="text/javascript">
    (function() { 
        var d = document, s = d.createElement('script');
        s.type = "text/javascript";s.async = true;
        s.src = 'https://<%- theme.disqus_shortname %>.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
    </script>
    <script src="/js/disqus.js" type="text/javascript" async></script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <% } %>
    
    <% if(theme.github_comment.repo) { %>
    <script type="text/javascript">
    var github_comment = {
        owner: "<%- theme.github_comment.owner %>",
        repo: "<%- theme.github_comment.repo %>",
        <% if(page.issue) { %>
        issue: "<%- page.issue %>"
        <% } %>
    };
    </script>
    <script src="/js/github-comment.js" type="text/javascript" async></script>
    <% } %>

    <% if(theme.busuanzi) { %>
    <script src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js" async></script>
    <% } %>

</head>
