<div id="header">
    <div class="container clearfix">
        <h2 class="logo" <%- !(theme.logo)?'style=\"width: auto;\"':'' %>>
            <a href="<%- config.root %>" title="<%= config.title %>" rel="home" style="text-decoration: none;">
                <% if(theme.logo) { %>
                <img src="<%- theme.logo %>" alt="<%= config.title %>" width="102" height="30"/>
                <% } else { %>
                <span class="brand-logo">
                    <% if(config.title) { %>
                    <%= config.title %></span>
                    <% } else { %>
                    <%= config.author %></span>'s Blog
                    <% } %>
                <% } %>
            </a>
        </h2>
        <div class="global-nav left">
            <ul class="gnul">
                <li class="gnli <% if(is_home()) { %> current<% } %>">
                    <a class="gna" href="<%- config.root %>" title="<%= config.title %>">
                        <span><%- __('home') %></span>
                    </a>
                </li>
                <% if (theme.global_navigation) { %>
                <li class="gnli dropdown<% if (is_post()) { %> current<% } %>">
                    <a class="gna dropdown-link" href="javascript:;">
                        <span><%- __('navigation') %></span>
                    </a>
                    <div class="dropdown-arrow1"></div>
                    <div class="dropdown-arrow2"></div>
                    <div class="submenu">
                        <div class="tab-content">
                            <table>
                                <tbody>
                                <% if (site.categories.length) { %>
                                <tr class="trline">
                                    <td class="tdleft"><%- __('categories') %></td>
                                    <td class="tdright">
                                        <div class="tab-categories">
                                            <ul>
                                            <% site.categories.sort('name').each(function(item){ %>
                                                <li class="cat-item">
                                                    <a href="<%- config.root %><%- item.path %>"><%= item.name %></a>
                                                </li>
                                            <% }); %>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                                <tr>
                                    <td class="tdleft"><%- __('tags') %></td>
                                    <td class="tdright">
                                        <div class="tab-tags">
                                            <%- tagcloud({
                                                unit: 'px',
                                                min_font: 12,
                                                max_font: 12,
                                                amount: theme.tag_number,
                                                orderby: 'count',
                                                order: 'desc'
                                            }) %>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                <% if(theme.nav.length) { %>
                <% theme.nav.forEach(function(item) { %>
                <li class="gnli">
                    <a class="gna" href="<%- config.root %><%- item.url %>" title="<%= item.description || '' %>">
                        <span class="fa <%- item.icon %>"></span><%= item.title %>
                    </a>
                </li>
                <% }); %>
                <% } %>
                <% } %>
            </ul>
        </div>
        <form method="get" class="search-form" action="<%= config.title %>/">
            <input type="text" name="s" class="search-input" placeholder="<%- __('search') %>" />
            <button type="submit" class="search-submit">
                <span class="mutheme-search"></span>
            </button>
        </form>
        <div class="mobile-menu-button"></div>
    </div>
</div>
